.modal {
  position: fixed;  
  z-index: 1;  
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;  
  background-color: rgba(152, 153, 155, .5);  
}

.button_container {
   width:100%;
}

.button_container button {
    float: right;
    background-color: transparent;
    border: none;
    margin-bottom: 1%;
    padding: .5%;
}

.unstyle_list {
    list-style: none;
    margin: 0;
    padding: 0;
}

.unstyle_list_inherent {
    list-style: none;
    margin: 0;
    padding: 0;
    display: inherit;
    flex-flow: wrap;
}

.unstyle_list_inherent li {
    background-color: rgba(242,71,106, .6);
    margin: .9% .9% 0 .9%;
    padding: 1%;
    padding-left: 3%;
    padding-right: 3%;
}

.grid-container {
    display: grid;
    height: 100vh;    
    max-width:90%;
    margin: 0 auto;
    padding: 1%;
    grid-template-columns: 100%;
    grid-template-rows: 30% auto;        
    grid-row-gap: .5%;
    grid-template-areas:
        "logo"
        "detail"
        "use_case"
        "project_img_1"
        "project_img_2"
        "project_img_3";    
}

.grid-container label {
    font-size: 0.8em;
    font-weight: bold;
    padding-top: .5%;
    padding-bottom: 1%;
}
.grid-container span {
    font-size: 0.8em;
    font-weight: 100;
    padding-top: .5%;
    padding-bottom: 1%;
}

.grid-container img {
    width: 100%;
    height: 100%;
}

.use_case {
    grid-area: use_case;
    background-color: #f5f6f7;
    padding: 1.5%;
}
.use_case h2 {
    font-weight: 200;
}
.use_case p {
    font-size: .8em;
    font-weight: 100;
    text-align: justify;
    line-height: 1.8em;
}

.project_img_1 {    
    grid-area: project_img_1;
    margin: .9% 0 .9% 0;
}


.project_img_2 {    
    grid-area: project_img_2;
    margin: .9% 0 .9% 0;
}


.project_img_3 {    
    grid-area: project_img_3;
    margin: .9% 0 .9% 0;
}

.detail {
    grid-area: detail;
    background-color: #f5f6f7;
    padding: 0 1.3% 0 1.3%;
    display: flex;
    flex-direction: column;
    margin-bottom: 2%;
}

.detail h4 {
    font-weight: 200;
}

.detail .elements-top {
    display: flex;
    flex-direction: row;
    margin-right: .5%;
    margin-bottom: 1.5%;
    margin-top: 1%;  
    justify-content: start;
}

.detail .elements-top label {
    margin-right: .95%;
}



.detail .elements {
    display: flex;
    flex-direction: row;
    justify-content: start;
}

.detail .elements .element {
    display: flex;
    flex-direction: column;
    margin-right: 3%;
}

.detail .elements .stack {
    display: flex;
    flex-direction: column;
}

.logo {
    grid-area: logo;
    max-width: 100%;
    display: inherit;
    align-content: center;
    margin-bottom: 2%;
}

.logo img {
  margin: 0 auto;
  height: 100%;
  width: 100%;
}

.white-box { 
    width: 100%;
    height: auto;
    background-color: white;
    margin: 2%;
    border: 1px solid black;
}

.flex_container-row {
    margin-top: 2%;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    height: auto;
}

.img_box_product { 
    min-height: 50%;  
    cursor: pointer;  
}

.box_shape_and_letter {
    width: 100%;
    min-height: '200px';
    display: 'flex';
    flex-direction: 'column';
    justify-content: 'center';
    text-align: 'center';
    font-size: calc(14px + (18 - 14) * ((100vw - 300px) / (1600 - 300)));
    font-weight: 100;
}

.detail_box_product {
    width: 25%;  
    cursor: pointer; 
    margin: .6% .6% .6% .6%;  
    -moz-mergin: 2px 2px 2px 2px;
    -o-mergin: 2px 2px 2px 2px;
    -webkit-mergin: 2px 2px 2px 2px;   
}

.text-none-decoration {
    text-decoration: none;
}

.img_box_product img {
    border: solid 1px black;
    border-radius: 1%;
}

.tab_botton {
    border: 1px solid black;
    border-radius: .2em;
    padding: 1.2% .8% 1.2% .8%;
    margin: 1%;
    background-color: transparent;
    cursor: pointer;    
}

.tab_botton_selected {
    background-color:rgba(28, 83, 76, 1);
    color:white
}

.product_full_container {
    background-image: url('../../images/concrete-texture.png');
    padding-top: 3%;
}

@media (min-width: 100px) and (max-width: 500px) {  
    
}

@media (min-width: 576px) {
  

}

@media (min-width: 768px) {
  
 }

 @media (min-width: 900px) { 
    .unstyle_list li {
        padding: 2%;
    }

    .unstyle_list_inherent {
        padding: 2%;
    }

    .grid-container {   
        display: grid;
        height: 100vh;
        max-width:90%;
        margin: 0 auto;
        padding: 1%;
        grid-template-columns: 30% 70%;
        grid-template-rows: 40% auto;
        grid-column-gap: 2%;
        grid-row-gap: .5%;
        grid-template-areas:
            "logo logo"
            "detail use_case"
            "detail project_img_1"
            "detail project_img_2"
            "detail project_img_3";
    }

    .grid-container label {
        font-size: 1.2em;
        font-weight: bold;
        padding-top: .5%;
        padding-bottom: 1%;
    }
    
    .grid-container span {
        font-size: 1.2em;
        font-weight: 100;
        padding-top: .5%;
        padding-bottom: 1%;
    }

    .detail {
        padding: 5%;
        max-height: 100%;
    }

    .detail .elements-top {
        display: flex;
        flex-direction: column;
        margin-right: .5%;
        margin-bottom: 1.5%;
        margin-top: 1%;  
        justify-content: start;
    }
    
    .detail .elements-top label {
        margin-right: .95%;
    }
    .detail .elements-top span {
        padding: 2%;
    }

    .detail .elements {
        flex-direction: column;
    }

    .detail .elements .element {
        display: flex;
        flex-direction: column;
        margin-top: 10%;
        margin-right: 0;
        margin-bottom: 10%;
    }
    
    .detail .elements .stack {
        display: flex;
        flex-direction: column;
    }

    .use_case p {
        font-size: 1em;
        font-weight: 100;
        text-align: justify;
        line-height: 2em;
    }
  }

 @media (min-width: 1200px) { 
    
    
  }