.modal {
  position: fixed;  
  z-index: 1;  
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  overflow: auto;
  background-color: rgba(152, 153, 155, .5);   
}

.grid-container {  
   
    display: grid;
    height: 50vh;
   /* justify-content: center;
    align-items: center;*/
    grid-template-columns: 25% 25% 50%;
    grid-template-rows: 25vh 25vh 25vh 25vh;
    grid-template-areas:
        "use_case use_case project_img_1"
        "use_case use_case  project_img_2"
        "detail logo project_img_3";   
}

.use_case {
    grid-area: use_case;
    background-color: blue;  
 
}

.project_img_1 {
    background-color: red;
    grid-area: project_img_1;
 
}

.project_img_2 {
    background-color: yellow;
    grid-area: project_img_2;
}

.project_img_3 {
    background-color: GREEN;
    grid-area: project_img_3;
}

.detail {
    grid-area: detail;
    background-color: goldenrod;
}

.logo {
    grid-area: logo;
    background-color: black;
}



.white-box { 
    width: 100%;
    height: 100%;
    height: auto;
    background-color: white;
    margin: 2%;
    border: 1px solid black;
}

.flex_container-row {
    margin-top: 2%;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;    
    height: auto;
}

.img_box_product { 
    min-height: 50%;  
    cursor: pointer;  
}

.box_shape_and_letter {    
    width: 100%;
    min-height: '200px';
    display: 'flex';
    flex-direction: 'column';
    justify-content: 'center';
    text-align: 'center';
    font-size: calc(14px + (18 - 14) * ((100vw - 300px) / (1600 - 300)));
    font-weight: 100;
}

.detail_box_product {
    width: 25%;  
    cursor: pointer; 
    margin: .6% .6% .6% .6%;  
    -moz-mergin: 2px 2px 2px 2px;
    -o-mergin: 2px 2px 2px 2px;
    -webkit-mergin: 2px 2px 2px 2px;   
}

.img_box_product img {
    border: solid 1px black;
    border-radius: 1%;
}

.tab_botton {
    border: 1px solid black;
    border-radius: .2em;
    padding: 1.2% .8% 1.2% .8%;
    margin: 1%;
    background-color: transparent;
    cursor: pointer;    
}

.tab_botton_selected {
    background-color:rgba(28, 83, 76, 1);
    color:white
}

.product_full_container {
    background-image: url('../../images/concrete-texture.png');
    padding-top: 3%;
}

@media (min-width: 100px) and (max-width: 575px) {
    .detail_box_product {
        width: 100%;   
    }
}

@media (min-width: 576px) {
    .detail_box_product {
        width: 100%;     
    }
    .flex_container-row {
        margin-left: 1%;
        margin-right: 1%;
     }

}

@media (min-width: 768px) {
   .detail_box_product {
        width: 40%;     
    }
 }

 @media (min-width: 992px) { 
    /*.detail_box_product {
        width: 25%;     
    }*/
  }

 @media (min-width: 1200px) { 
    .detail_box_product {
        width: 25%;     
    }
  }

