.banners {
    width: 100%;
  }

  .banner {
    width:100%;    
    padding-right: 2%;
  } 
  
  .banner .head-banner {
    min-height: 12%;
    padding: 1% 1% .5% 0;
    width: 100%;
    border-bottom: 1px solid #ebe3d9;
  }
  
  .banner .body-banner {
    min-height: 40%;
    padding: .5% 3.1% .5% 8.9%;
    text-align: justify;
    line-height: 150%;
  }

  .banner .body-banner p, .shortAbout {
    font-size: calc(14px + (18 - 14) * ((100vw - 300px) / (1600 - 300)));
    font-weight: 100;
  }

  .title-banner {
    font-size: calc(16px + (20 - 16) * ((100vw - 300px) / (1600 - 300)));
    margin-left: 1%;
    padding-left: 7%;
  }
 