.contact {
    background-color: black;
    color:white;
    height: 40vh;
  }

  .contact-flex-row {  
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: inherit;    
  }
  
  .contact-flex-col {
    display: flex;
    flex-direction: row;
    justify-content: space-around;  
    align-content: center;    
    flex-grow: 1;
    width: 100%;
  }
  
  .contact-flex-col div i {
    margin-right:0.9%;
    color: white;
  }
  .contact-paragraph {
    flex-grow: 1;
    text-align: right;
    margin-right: 1%;
  }
  
  .contact-paragraph > p {
    margin-bottom: 2%;
  }

  .container_image_footer {   
     padding: 0 2% 0 2%;
    flex-grow: 1;
  }

  @media all and (max-width: 800px) {
    .contact-flex-row {  
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        height: inherit;        
      }

      .contact-flex-row {               
        justify-content: space-around;
        width: 100%     
      }
  }
  