.bar_nav {
  background-color:transparent;
}

.navigation {
  list-style: none;
  margin: 0; 
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
}

.navigation a {
  text-decoration: none;
  display: block;
  padding: 1em;
  color: black;
}

.navigation a:hover {
  background: red;/*darken(deepskyblue, 2%);*/
}

.hamberguericon {
  display: none;
}

.hamberguericon {  
  padding: 2% 0% 1.5% 2%;
}

@media all and (max-width: 800px) {
 

  .navigation {
    display: none;
  }

  .bar_nav {
    background: transparent;
  }

  .hamberguericon {
    display: inline;
    
  }

  .navigation_show {
    /*justify-content: space-around;*/
    flex-flow: column wrap;
    padding: 0;
    display: inline;
  }

  .navigation a {
    text-align: center;
    padding: 10px;
    border-top: 1px solid rgba(0,0,0,0.1);
    /*border-top: 1px solid rgba(255,255,255,0.3);*/
    /*border-bottom: 1px solid rgba(0,0,0,0.1);*/
  }

  .navigation a:hover {
    background: transparent;/*darken(deepskyblue, 2%);*/
  }
}

@media all and (max-width: 600px) {
   .navigation {
    display: none;
  }
  
  .hamberguericon {  
    display: inline;
  }
  .bar_nav {
    background: transparent;    
  } 
  
  .navigation_show {
    -webkit-flex-flow: column wrap;
    flex-flow: column wrap;
    padding: 0;
    display: inline;
  }

  .navigation a { 
    text-align: center; 
    padding: 10px;
    border-top: 1px solid rgba(255,255,255,0.3); 
    border-bottom: 1px solid rgba(0,0,0,0.1); 
  }

  .navigation a :hover {
    background: red;
  }

  .navigation li:last-of-type a {
    border-bottom: none;
  }
}