
.bar_nav {
   background-color: rgb(217,83,79);
   position: relative;
   display:flex;
   flex-direction: row;
   height: auto;
}
.one-left_botton {
  flex-grow: 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 2%;
}

.one-left_botton  span {
  padding: 0.4%;
  cursor: pointer;
  border: 1px solid black;
  margin-right: .3%;
  display: inline-block;
  margin-top: .5%;
  margin-bottom: .5%;
}
.rigth_section_nav {
  flex-grow: 1;
  display: inline;
}
.active {
  background-color: #1c534c;
  color: white;
}
.navigation {
  list-style: none;
  margin: 0; 
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
}

.navigation a {
  text-decoration: none;
  display: block;
  padding: 1em;
  color: black;
}

.navigation a:hover {
  background: rgba(181, 196 ,203, .5);/*darken(deepskyblue, 2%);*/
}

.hamberguericon {
  display: none;
}

.hamberguericon {  
  padding: 2% 0% 1.5% 2%;  
}

.icon_hamber_icon_color {
  color: rgba(210, 106, 90, 1);
}

@media all and (max-width: 800px) {

  .navigation {
    display: none;
  }

  .bar_nav {
    background-color: rgba(49, 61, 84, 1); 
  }

  .hamberguericon {
    display: inline;
    
  }

  .navigation_show {
    /*justify-content: space-around;*/
    flex-flow: column wrap;
    padding: 0;
    display: inline;
  }

  .navigation a {
    text-align: center;
    padding: 10px;
    border-top: 1px solid rgba(0,0,0,0.1);
    /*border-top: 1px solid rgba(255,255,255,0.3);*/
    /*border-bottom: 1px solid rgba(0,0,0,0.1);*/
  }

  .navigation a:hover {
    background: transparent;/*darken(deepskyblue, 2%);*/
  }

  .navigation li {
    background-color: rgba(210, 106, 90, 0.8);
  }
}

@media all and (max-width: 600px) {
   .navigation {
    display: none;
  }
  
  .hamberguericon {  
    display: inline;
  }
  .bar_nav {
    background-color: rgba(49, 61, 84, 1);
  } 
  
  .navigation_show {
    -webkit-flex-flow: column wrap;
    flex-flow: column wrap;
    padding: 0;
    display: inline;
  }

  .navigation a { 
    text-align: center; 
    padding: 10px;
    border-top: 1px solid rgba(255,255,255,0.3); 
    border-bottom: 1px solid rgba(0,0,0,0.1); 
  }

  .navigation a :hover {
    background: red;
  }

  .navigation li:last-of-type a {
    border-bottom: none;
  }

  .navigation li {
    background-color: rgba(210, 106, 90, 0.8);
  }
}